In [ ]:
import pandas as pd
#need 1.4.4

In [ ]:
!pip install pandas

In [ ]:
print(pd.__version__)

In [ ]:
power_agency = r"C:\Users\danie\Documents\GitHub\Masters-Thesis\Sap et al. -Connotation Frames of Agency and Power.csv"
#power_agency = r"/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/Sap et al. -Connotation Frames of Agency and Power.csv"

power_agency = pd.read_csv(power_agency)
power_agency[["agency_1","agency_classifier"]]= power_agency["agency"].str.split("_",expand=True)
power_agency[["power_1","power_classifier"]]= power_agency["power"].str.split("_",expand=True)
power_agency = power_agency.drop(power_agency[["agency","power", "agency_1", "power_1"]], axis= 1)

In [ ]:
communality = r"C:\Users\danie\Documents\GitHub\Masters-Thesis\Lawson et al. - Communality.csv"
#communality = r"/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/Lason et al. - Communality.csv"
communality = pd.read_csv(communality)

agency = r"C:\Users\danie\Documents\GitHub\Masters-Thesis\Lawson et al. - Agency Words.csv"
#agency = r"/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/Lawson et al. - Agency.csv"
agency = pd.read_csv(agency)

sent, list of words, sentiment, scores, avg for not null of P, A, C

word, count, coeff, P, A, C 

male count total weighted scores
female count total weighted

In [ ]:
hc_2009= pd.read_pickle(r"/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/RESULTS09_coef_high.pickle")
lc_2009= pd.read_pickle(r"/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/RESULTS09_coef_low.pickle")
hc_2009

In [7]:
#2009
df_09 = pd.read_pickle("RESULTS09_coef_high.pickle")
df_09.rename(columns = {'coef':'2009_c'}, inplace = True)
#df_09 = df_09.drop(columns=['coef_type'])

In [14]:
#2010
df_10 = pd.read_pickle("RESULTS10_coef_high.pickle")
df_10.rename(columns = {'coef':'2010_c'}, inplace = True)
#df_10 = df_10.drop(columns=['coef_type'])
#2011
df_11 = pd.read_pickle("RESULTS11_coef_high.pickle")
df_11.rename(columns = {'coef':'2011_c'}, inplace = True)
#2012
df_12 = pd.read_pickle("RESULTS12_coef_high.pickle")
df_12.rename(columns = {'coef':'2012_c'}, inplace = True)
#2013
df_13 = pd.read_pickle("RESULTS13_coef_high.pickle")
df_13.rename(columns = {'coef':'2013_c'}, inplace = True)
#2014
#df_14 = pd.read_pickle("RESULTS14_coef_high.pickle")
#df_14.rename(columns = {'coef':'2014_c'}, inplace = True)
#2015
df_15 = pd.read_pickle("RESULTS15_coef_high.pickle")
df_15.rename(columns = {'coef':'2015_c'}, inplace = True)
#2016
df_16 = pd.read_pickle("RESULTS16_coef_high.pickle")
df_16.rename(columns = {'coef':'2016_c'}, inplace = True)
#2017
df_17 = pd.read_pickle("RESULTS17_coef_high.pickle")
df_17.rename(columns = {'coef':'2017_c'}, inplace = True)
#2018
df_18 = pd.read_pickle("RESULTS18_coef_high.pickle")
df_18.rename(columns = {'coef':'2018_c'}, inplace = True)
#2019
df_19 = pd.read_pickle("RESULTS19_coef_high.pickle")
df_19.rename(columns = {'coef':'2019_c'}, inplace = True)
#2020
df_20 = pd.read_pickle("RESULTS20_coef_high.pickle")
df_20.rename(columns = {'coef':'2020_c'}, inplace = True)
#2021
df_21 = pd.read_pickle("RESULTS21_coef_high.pickle")
df_21.rename(columns = {'coef':'2021_c'}, inplace = True)
#2022
df_22 = pd.read_pickle("RESULTS22_coef_high.pickle")
df_22.rename(columns = {'coef':'2022_c'}, inplace = True)

In [20]:
from functools import reduce

In [22]:
df_list = [df_09, df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22]
#df = pd.merge(df_list, right on='feature', how='outer')

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)

<ipython-input-22-2c80a8559a3f>:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'coef_type_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)

In [23]:
df_merged

,feature,coef,2010_c,2011_c,2012_c,2013_c,2015_c,2016_c,2017_c,2018_c,coef_type_x,2019_c,coef_type_y,2020_c,coef_type_x,2021_c,coef_type_y,2022_c,coef_type
0,jade,13.845370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,boyfriend,12.797718,9.864651,NaN,2.722136,2.970981,5.542121,NaN,NaN,6.636499,highest,6.335546,highest,5.640018,highest,5.286002,highest,4.818898,highest
2,creative,12.640788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mime,12.602833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,french,12.060647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,pony,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.783478,highest
1932,tearfully,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.782416,highest
1933,budding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.777225,highest
1934,arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.776941,highest
1935,greville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.767179,highest

In [25]:
df_merged.to_csv('merged.csv')

Something is seriouly messed up in my code. We need to compare pickle and pandas versions. Mine is incompatible

Here are my ideas:

- See if we can save ALL coefficients. the scanning of the results section isn't very useful. there are a lot of nouns and very few verbs. not so great
- If we cannot save the whole list my next idea is to create a new list with the PAC words and then save the coefficiants for those. 
- More importantly I think we need to do like top and bottom 500 and then hand fucking sort. I'm thinking append each file, export to excel, remove duplicates, and mark each one. a lot of womens names are showing up. ugh

open all the files, rename the coefficents as the year_c, full outer join (i think) on each one into a new DF. 
I think that will make the data we need